target/
images_javafx/
images_javafx_svg/
ECharts-Java-1.1.0/
weka/
promotion/
temp/
ppt/
scripts/
.vscode/
.obsidian/
ppt.zip
.obsidian.zip
backups/
ddml/
src/main/java/org/
private_docs/
performance/
commons-math-4.0-beta1-src/
